.dummycontainer{
    width: 100%;
    height: 100vh;
    border: 0px solid;
  }
.work-container{
  margin: auto;
  box-sizing: border-box;
      width: 100%;
      height: 100%;
      border: 0px solid rgb(0, 0, 0);
      /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */

      }
      button{
        width:50px;
        height:50px;
        border-radius: 50%;
        border:none;
      }
      button:hover{
        cursor:pointer;
        background-color: rgb(40, 171, 248);
      }
      .work-container h1{
        text-align: center;
        align-items: center;
     
        height: 80px;
        padding-top: 80px;
        border: 0px solid;
      }
      .work-grid{
        margin: auto;
        width: 80%;
       padding-top: 50px;
        border: 0px solid;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
       
      }
      .work-grid>div{
       
        border: 0px solid;
        height: 100%;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        flex-direction: column;
        padding: 15px;
        box-sizing: border-box;
        text-align: center;
        align-items: center;
      }
      .work-grid>div:hover{
      
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      }
    
      .work-grid img{
        padding: 5px;
        margin: auto;
       width:  90%;
      }
      .work-div-button{
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 50px;
        border: 0px solid;
        display: flex;
        justify-content: space-evenly;
        margin-top: 12px;
      }
      
      .work-div-button>button{
       
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 0px;
       

      }
      .work-div-button>button:hover{
        background-color: grey;
        color: white;
  
      }
      /* ///................. */
      @media screen and (max-width: 480px) {
     
     
      
        .work-container h1{
         
          font-size: 20px;
        }
        .work-container{
       
          border: 0px solid;
         
          
        }
        .work-grid{
          margin: auto;
          border: 0px solid;
   
          display: grid;
          grid-template-columns: repeat(1,1fr);
         grid-template-rows: auto;
        
          word-wrap: break-word;
        }
        .work-grid>div{
          font-size: 12px;
       
          box-sizing: border-box;
          word-wrap: break-word;
        
          border: 0px solid;
          height: 100%;
          border-radius: 20px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          display: flex;
          flex-direction: column;
          /* padding: 10px; */
         
          text-align: center;
          align-items: center;
        }
       
.grid-innersection :nth-child(1){
line-height: 20px;
}
.work-container h1{
  text-align: center;
  align-items: center;

  height: 80px;
  padding-top: 40px;
  border: 0px solid;
}


.work-grid{
       
  margin-top: 1%;}

      }
      /* /////////////////////// */
      @media only screen and (min-width: 560px) and (max-width: 1024px){
        .work-container{
          border: 0px solid;
        }
        .work-grid{
     /* background-color: aquamarine; */
          margin-top: 20%;
          width: 75%;
           margin: auto;
           /* border: 1px solid; */
           margin: auto;
         
           display: grid;
         
           grid-template-columns: repeat(2,320px);
          grid-template-rows: auto;
           
           column-gap: 12%;
         }
         .work-grid>div{
          
           /* border: 4px solid; */
           height: 100%;
           border-radius: 20px;
           box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
           display: flex;
           flex-direction: column;
           /* padding: 10px; */
           box-sizing: border-box;
           text-align: center;
           align-items: center;
         }
    }