.home-container {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;

  width: 100%;
  height: 100vh;
  align-items: center;

  overflow: hidden;
  padding: 30px 50px 160px 80px;

  border: 0px solid red;
}

.left-home-container {
  text-align: left;
  border: 0px solid;
  width: 60%;
}
.left-home-container button {
  width: 15%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(40, 171, 248);
  color: white;
  font-weight: 600;
  border: 0px;
}
.left-home-container button:hover{
  cursor:pointer;
  color:  rgb(5, 162, 254);
  background-color: aqua;
}
.left-home-container h2 {
  font-size: 3rem;
  /* color: orange; */
}
.left-home-container h1 {
  font-size: 5rem;
}
.right-home-container {
  margin: auto;

  align-items: center;
  width: 30%;
  border: 0px solid;
  height: 270px;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}

.right-home-container :nth-child(1) {
  width: 36rem;
  text-align: center;
  align-items: center;
  position: absolute;
  right: 9%;
  top: 6.24rem;
}

.right-home-container :nth-child(2) {
  width: 23%;

  position: absolute;
  right: 10%;
  top: 9%;
  border-radius: 30%;
}

/* ................head txt animation ............... */
.wrapper {
  margin-top: 2%;

  display: inline-flex;
}
.wrapper .static-txt {
  font-size: 40px;
  font: 400;
}
.dynamic-txt li {
  color: rgb(40, 171, 248);
  padding-left: 5px;
  margin-top: -10px;
  list-style: none;
  font-size: 60px;
  font-weight: 500;
}
.dynamic-txt li span {
  position: relative;
}
.dynamic-txt li span::after {
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border-left: 0px solid black;
  animation: typing 3.5s linear infinite;
}
.linkedin{
  width:60px;
  height:100px;
  border:none;
  position :fixed;
  left:0.5rem;
  bottom:2rem;
  line-height: 2;
}
.linkedin:hover{
  cursor:pointer;
  
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

/* ...................... */
@media screen and (max-width: 480px) {
  .home-container {
    margin: auto;
    border: 0px solid;
    width: 100%;
    height: 78vh;
    display: block;
    align-items: center;
    text-align: center;
  }
  .left-home-container {
    border: 0px solid;
    padding-top: 30px;
    width: 120%;
    box-sizing: border-box;
    margin-left: -30px;
  }
  .left-home-container h2 {
    font-size: 25px;
  }
  .left-home-container h1 {
    font-size: 35px;
  }
  .dynamic-txt li {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .wrapper .static-txt {
    font-size: 20px;
  }
  .dynamic-txt {
    margin-top: 6px;
  }
  .left-home-container button {
    width: 35%;
    height: 30px;
    padding-bottom: 20px;
  }
  .right-home-container {
    border: 0px solid;
    width: 99%;
    height: 230px;
    overflow: hidden;
    padding-bottom: 50px;
  }

  .right-home-container :nth-child(1) {
    position: absolute;
    top: 43%;
    right: 6%;
    width: 96%;
    height: 60%;
    border: 0px solid;
  }
  .right-home-container :nth-child(2) {
    position: absolute;
    top: 57%;
    right: 29%;
    width: 47%;
    height: 35%;
    border: 0px solid;
  }
}

/* //////////////////////////////////////// */

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .home-container {
    border: 0px solid;
    width: 100%;
    height: 400px;
    box-sizing: content-box;
    padding: 20px 40px 120px 40px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
  }
  .left-home-container {
    width: 500px;
  }
  .left-home-container h2 {
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .left-home-container h1 {
    font-size: 3rem;
  }
  .wrapper .static-txt {
    font-size: 30px;
    font: 400;
  }
  .dynamic-txt li {
    padding-bottom: 10px;
    color: rgb(40, 171, 248);
    padding-left: 5px;
    margin-top: -10px;
    list-style: none;
    font-size: 40px;
    font-weight: 500;
  }
  .left-home-container button {
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(40, 171, 248);
    color: white;
    font-weight: 600;
  }
  .right-home-container {
    text-align: center;
    align-items: center;
    border: 0px solid;
    width: 200px;
    height: 200px;
    /* padding-right: 30px; */
  }
  .right-home-container :nth-child(1) {
    width: 26rem;
    text-align: center;
    align-items: center;
    position: absolute;
    right: 2%;
    top: 2rem;
    display: flex;
    justify-content: center;
    border: 0px solid;
  }
  .right-home-container :nth-child(2) {
    width: 22%;
    /* background-color: red; */
    position: absolute;
    right: 10%;
    border-radius: 50%;
    top: 9rem;
  }
}
